@font-face {
    font-family: 'myfonts';
    src: url('Assets/Font/big_noodle_titling.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

@font-face {
    font-family: 'Urbanist';
    src: local('Urbanist');
    font-weight: normal;
    font-style: normal;
  }

:root{
    --primarycolor: #fff;

}

body {
    font-family: 'myfonts', sans-serif;

  }

.hide{
    width: 0px;
    height: 0px;
    opacity: 0;
}

.mainbox{
    width: 1920px;
    height: 1080px;
    background-color: rgb(0, 0, 0);
    background-image: url(Assets/Other/full.png);
}
.upper{
    width: 1920px;
    height: 239px;
 
    display: flex;
}

.logoteam-blue{
    width: 249px;
    height: 239px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 100%;

}

.logoteam-red{
    width: 249px;
    height: 239px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-size: 100%;

}

.logoteam-blue img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin-left: 90px;

}

.logoteam-red img{
    width: 80px;
    height: 80px;
    object-fit: contain;
    max-width: 100%;
    max-height: 100%;
    margin-right: 90px;


}

.teamnameblue{
    width: 711px;
    height: 239px;
  
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 60px;
    font-family: 'myfonts';
    font-weight: 500;
    color: #ffffff;
    margin-top: 0px;
}

.teamnamered{
    width: 711px;
    height: 239px;

    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 60px;
    font-family: 'myfonts';
    font-weight: 500;
    color: #ffffff;
    margin-top: -3px;
    
}

.middle{
    width: 1920px;
    height: 582px;
    background-color: rgba(21, 4, 59, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}

.pick{
    width: 176px;
    height: 543px;
    background-color: rgb(0, 0, 0);
    border: 1px solid #a700ff;
   overflow: hidden ;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
}

.image-box{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.41);
    filter: contrast(1.1);
    margin-left: -50px;
    position: absolute;
    z-index: 1;
        
}

.name-image-box{
    position: absolute;
    z-index: 2;
}

.name-image-box img{
    scale: 0.4;
    margin-top: 400px;
}


.pickmid{
    width: 140px;
    height: 582px;
    background-size: 100%;
}

.lower {
    width: 1900px;
    height: 239px;

}

.bluenick{
    width: 300px;
    font-size: 20px;
    font-family: 'Urbanist';
    font-weight: bold;
    color: aliceblue;
    margin-top: 505px;
    margin-left:0px;
    position: absolute;
    z-index: 3;
    letter-spacing: 1px;
    background-color: #a700ff;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;

}

.rednick{
    width: 300px;
    font-size: 20px;
    font-family: 'Urbanist';
    font-weight: bold;
    color: rgb(255, 255, 255);
    margin-top: 505px;
    margin-left: 0px;
    position: absolute;
    z-index: 3;
    letter-spacing: 1px;
    background-color: #a700ff;
    padding: 8px 16px;
    border-radius: 8px;
    text-align: center;

}


